<ion-item
  lines="full"
  class="transaction-item"
  (click)="onTap()">
  <div slot="start" class="icon-container" [ngClass]="type">
    <ion-icon [name]="icon"></ion-icon>
  </div>

  <ion-label>
    <h2>{{ title }}</h2>
    <p>{{ date }}</p>
  </ion-label>

  <div slot="end" class="end-wrap">
    <div class="amount" [ngClass]="type">
      {{ type === 'income' ? '+' : '-' }}${{ amount | number:'1.0-0' }}
    </div>
    <div class="reaction" *ngIf="reaction">{{ reaction }}</div>
  </div>
</ion-item>