<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-top ion-margin-bottom">
    <h1>MyDigitalWallet 💳</h1>
    <p>Inicia sesión en tu cuenta</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <app-custom-input
      class="ion-margin-bottom"
      label="Correo Electrónico"
      type="email"
      placeholder="correo@ejemplo.com"
      autocomplete="email"
      formControlName="email">
    </app-custom-input>

    <app-custom-input
      class="ion-margin-bottom"
      label="Contraseña"
      type="password"
      placeholder="••••••••"
      autocomplete="current-password"
      formControlName="password">
    </app-custom-input>

    <ion-button expand="block" type="submit" [disabled]="!loginForm.valid" class="ion-margin-top">
      Iniciar Sesión
    </ion-button>

    <ion-button expand="block" type="button" fill="outline" color="dark" (click)="loginWithGoogle()" class="ion-margin-top">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Continuar con Google
    </ion-button>

  </form>

  <div class="ion-text-center ion-margin-top">
    <p>¿No tienes una cuenta?</p>
    <ion-button fill="clear" routerLink="/register">Regístrate aquí</ion-button>
  </div>

</ion-content>