<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-top ion-margin-bottom">
    <h2>Crear Cuenta</h2>
    <p>Completa tu perfil para continuar</p>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

    <ion-row>
      <ion-col size="6">
        <app-custom-input label="Nombre" type="text" placeholder="Juan" formControlName="firstName"></app-custom-input>
      </ion-col>
      <ion-col size="6">
        <app-custom-input label="Apellido" type="text" placeholder="Pérez" formControlName="lastName"></app-custom-input>
      </ion-col>
    </ion-row>

    <ion-select label="Tipo de Documento" labelPlacement="floating" fill="solid" formControlName="docType"
      class="ion-margin-top">
      <ion-select-option value="CC">Cédula de Ciudadanía</ion-select-option>
      <ion-select-option value="CE">Cédula de Extranjería</ion-select-option>
      <ion-select-option value="PASSPORT">Pasaporte</ion-select-option>
    </ion-select>

    <app-custom-input
      class="ion-margin-top"
      label="Número de Documento"
      type="tel"
      placeholder="123456789"
      autocomplete="off"
      formControlName="docNumber">
    </app-custom-input>

    <app-custom-input
      class="ion-margin-top"
      label="País"
      type="text"
      placeholder="Colombia"
      autocomplete="country-name"
      formControlName="country">
    </app-custom-input>

    <app-custom-input
      class="ion-margin-top"
      label="Correo Electrónico"
      type="email"
      placeholder="correo@ejemplo.com"
      autocomplete="email"
      formControlName="email">
    </app-custom-input>

    <app-custom-input
      class="ion-margin-top"
      label="Contraseña (Mín. 6)"
      type="password"
      placeholder="••••••••"
      autocomplete="new-password"
      formControlName="password">
    </app-custom-input>

    <ion-button expand="block" type="submit" [disabled]="!registerForm.valid" class="ion-margin-top">
      Registrarse
    </ion-button>

  </form>

  <div class="ion-text-center ion-margin-top">
    <ion-button fill="clear" color="medium" routerLink="/login">
      <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      Volver al Inicio
    </ion-button>
  </div>

</ion-content>